<!-- Create de init html tags -->
<%- include('templates/initLink') %>
<body id="ourWork-pag">
    <!-- Create a NavBar -->
    <%- include('templates/header') %>
    <div id="Misión" class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Quiénes somos</h1>
            <p class="lead">Somos una red de profesionales que brinda servicios educativos acompañando a nuestros estudiantes en la preparación para la presentación de los exámenes de admisión a nivel universitario y Pruebas de Estados como Saber 11 - Validación de Bachillerato.
              Así mismo, acompañamos a estudiantes en los diferentes niveles educativos para la adquisición y profundización de los conceptos básicos de aprendizaje.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
              <img class="rounded-lg-3" src="/images/bcimg.jpg" alt="" width="300">
          </div>
        </div>
      </div>
      <div id="Visión" class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Visión</h1>
            <p class="lead">Nuestro objetivo para el año 2028 es convertirnos en la red de profesionales reconocida a nivel nacional como líder en la prestación de servicios educativos virtuales para la preparación de exámenes estatales, mediante la integración de nuevas tecnologías en favor de la calidad académica.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
              <img class="rounded-lg-3" src="/images/bcimg.jpg" alt="" width="300">
          </div>
        </div>
      </div>
      <div id="Nuestra_Metodología" class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Nuestra Metodología</h1>
            <p class="lead">Nuestras clases son personalizadas o en grupos pequeños para mayor interacción entre los profesores y estudiantes. Nuestras clases son 100% virtuales implementando diferentes herramientas digitales para facilitar los procesos de aprendizaje.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
              <img class="rounded-lg-3" src="/images/quienessomos.jpg" alt="" width="300">
          </div>
        </div>
      </div>
      <div id="Valores" class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Valores</h1>
            <p class="lead">Nuestros valores se centran en la responsabilidad, la empatía y la constante búsqueda de la excelencia a través de un servicio orientado hacia nuestros estudiantes</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
              <img class="rounded-lg-3" src="/images/img2.jpg" alt="img2" width="300">
          </div>
        </div>
      </div>
    <!-- CREATE FOOTER -->
    <%- include('templates/footer') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/main.js"></script>
</body>
    