<div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5 animate__animated animate__bounceInRight">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h2 class="fw-bold text-body-emphasis">Alerta: El ICFES modificó cronograma para presentación del examen Saber PRO</h2>
      <p class="text-body-secondary">Las nuevas fechas son</p>
        <li class="text-body-secondary"> <strong>Citación:</strong> 21 de junio</li>
        <li class="text-body-secondary"><strong>Aplicación del examen:</strong> 6 - 14 de Julio </li>
        <li class="text-body-secondary"><strong>Publicación de certificado:</strong> 2 de Agosto </li>
        <li class="text-body-secondary"><strong>Resultados individuales:</strong> 11 de Octubre</li>     
      <!-- <a href="#" class="btn btn-primary btn-lg" style="background-color: #E6FF94; color: #0A6847; border-color:#0A6847 ;">Primary button</a> -->
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-success bg-gradient fs-4 rounded-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#collection"></use>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">¿Ya te inscribiste a nuestros cursos vacacionales? </h4>
          <p class="text-body-secondary">Del 17 de Junio al 07 de Julio Prepárate con nosotros para lograr los mejores resultados en el examen Saber 11.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-success bg-gradient fs-4 rounded-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#gear-fill"></use>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Presentación del primer simulacro semestral 2024 -1</h4>
          <p class="text-body-secondary">Nuestros estudiantes presentarán su primer simulacro este sábado 15 de Junio de 2024
            Hora: 2:00pm            
            El cual tendrá una duración de 3 horas continuas.</p>
        </div>

        <!-- <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-success bg-gradient fs-4 rounded-3" >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#speedometer" ></use>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
          <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
        </div> -->

        <!-- <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-success bg-gradient fs-4 rounded-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#table"></use>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
          <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
        </div> -->
      </div>
    </div>
  </div>
</div>