<footer id="footer"class="py-5 " >

    <h4 class="text-center"> Estrategias y Soluciones Académicas</h4>
    <div class="container row align-items-start">
        <div class="col">
            <p> <strong>Dirección:</strong> Calle 72 No. 11-86, Bogotá, Colombia.</p>
            <p> <strong>Código Postal:</strong> 110221</p>
            <p> <strong>Horario de Atención:</strong> Lunes a viernes de 8:00 a.m. a 5:00 p.m.</p>
            

        </div>
        <div class="col">
            <img id="imgfoot" src="/images/eysaLogo.jpg" alt="Logo" class="mx-auto d-block">
        </div>
    </div>
    <h6 class="text-center"> Siguenos en:  <i class="fa-brands fa-facebook fa-lg"></i>  <i class="fa-brands fa-instagram fa-lg"></i>  <i class="fa-brands fa-x-twitter fa-lg"></i></h4>
  </footer>