<div class="container">
    <form method="post" action="/contact">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre..." name="nombre">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Numero de contacto</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="319..." name="numero">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Asunto</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Asunto..." name="asunto">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="text"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-success">Success</button>
    </form>
</div>

