
    <nav class="navbar navbar-expand-lg "id="nav-esp">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index.html"><img src="images/eysaLogo.jpg" alt="ImgBrand" class="ImgRadious" width="80" height="70" ></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end justify-content-end " id="navbarSupportedContent">
                <ul class="nav justify-content-end">
                    <div class="offcanvas-body">
                        <li class="nav-item mx-5 dropdown ">
                            <!-- <a class="link-ref nav-link  offcanvas-title " style="color: #BED1CF;" aria-current="page" href="#">Active</a> -->
                            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" style="color: #BED1CF;" aria-expanded="false">
                                Dropdown
                            </button>
                            <ul class="dropdown-menu ">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                              </ul>
                        </li>
                        <li class="nav-item mx-5 dropdown">
                            <!-- <a class="link-ref nav-link" style="color: #BED1CF;" href="#">Link</a> -->
                            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" style="color: #BED1CF;" aria-expanded="false">
                                Dropdown
                            </button>
                            <ul class="dropdown-menu ">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                              </ul>
                        </li>
                        <li class="nav-item mx-5">
                            <a class="link-ref nav-link" style="color: #BED1CF;" href="#">Link</a>
                        </li>
                        <button class="btn btn-success btn-lg" style="background-color: #E6FF94; color: #0A6847;" type="submit">Search</button>
                    </div>  
                </ul>   
            </div>
        </div>
    </nav>
    
