<nav class="navbar navbar-expand-lg bg-body-tertiary" id="nav-esp">
    <div class="container-fluid r">
      <a class="navbar-brand align-items-center" href="/">
        <img src="/images/eysaLogo.jpg" alt="Logo"  width="50" height="50" class="d-inline-block ImgRadious align-text-top">
        <a class="navbar-brand" href="/" style="color: white;">Estrategias y Soluciones Académicas</a>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item dropdown mx-5">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
              Nosotros
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/nosotros/#quienes-somos">Action</a></li>
              <li><a class="dropdown-item" href="/nosotros/#mision">Another action</a></li>
              <li><a class="dropdown-item" href="/nosotros/#vision">Something else here</a></li>
              <li><a class="dropdown-item" href="/nosotros/#metodología">Something else here</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown mx-5">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
              Programas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/programas">Action</a></li>
              <li><a class="dropdown-item" href="/programas">Another action</a></li>
              <li><a class="dropdown-item" href="/programas">Something else here</a></li>
              <li><a class="dropdown-item" href="/programas">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item mx-5">
            <a class="link-ref nav-link"  href="/contact" style="color: white;">Conatcto</a>
          </li>
          <button id="search-nav" class="btn btn-success btn-lg mx-5" onclick="window.open('https://eysaedu.com/', '_blank')" >Search</button>
        </ul>
      </div>
    </div>
  </nav>