
<nav class="navbar navbar-expand-lg "id="nav-esp">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="images/eysaLogo.jpg" alt="ImgBrand" class="ImgRadious" width="70" height="60" ></a>
    <h5 style="color:white">Estrategias y Soluciones Académicas
    </h5>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end justify-content-end " id="navbarSupportedContent">
            <ul class="nav justify-content-end">
                <div class="offcanvas-body">
                    <li class="nav-item mx-5 dropdown ">
                        <!-- <a class="link-ref nav-link  offcanvas-title " style="color: #BED1CF;" aria-current="page" href="#">Active</a> -->
                        <button class="btn dropdown-toggle" data-bs-toggle="dropdown" style="color: white;" aria-expanded="false">
                            Dropdown
                        </button>
                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                    </li>
                    <li class="nav-item mx-5 dropdown">
                        <!-- <a class="link-ref nav-link" style="color: #BED1CF;" href="#">Link</a> -->
                        <button class="btn dropdown-toggle" data-bs-toggle="dropdown" style="color: white;" aria-expanded="false">
                            Dropdown
                        </button>
                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                    </li>
                    <li class="nav-item mx-5">
                        <a class="link-ref nav-link" style="color: white;" href="#">Link</a>
                    </li>
                    <button class="btn btn-success btn-lg" onclick="window.open('https://eysaedu.com/', '_blank')" style="background-color: #E6FF94; color: #0A6847;" >Search</button>
                </div>  
            </ul>   
        </div>
    </div>
</nav>

