
    <nav class="navbar navbar-expand-lg "id="nav-esp">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index.html"><img src="/images/descarga.jpg" alt="ImgBrand" class="ImgRadious" width="80" height="70" ></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end justify-content-end " id="navbarSupportedContent">
                <ul class="nav justify-content-end">
                    <div class="offcanvas-body">
                        <li class="nav-item mx-4 ">
                            <a class="link-ref nav-link  offcanvas-title " style="color: #BED1CF;" aria-current="page" href="#">Active</a>
                        </li>
                        <li class="nav-item mx-4 ">
                            <a class="link-ref nav-link" style="color: #BED1CF;" href="#">Link</a>
                        </li>
                        <li class="nav-item mx-4">
                            <a class="link-ref nav-link" style="color: #BED1CF;" href="#">Link</a>
                        </li>
                        <button class="btn btn-primary btn-lg" type="submit">Search</button>
                    </div>  
                </ul>   
            </div>
        </div>
    </nav>
    
