<div class="d-flex h-100 text-center text-bg container" id="whats-info">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
    <h1>Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    
    <button id="api-what" type="button" class="btn btn-lg btn-success text-nowrap"><span><img src="images/whatsapp.png" alt="" ></span>   Success</button>
    
  </main>

</div>
</div>