
/* BODY GENERAL */
#api-what,#search-nav{
    background-color: #E6FF94; color: hsl(159, 82%, 22%);
  }
/* STYLE NAVBAR */

a{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    
}
#nav-esp{
    background-image: linear-gradient(to right, #87A922, #4CAF50);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#footer{
    padding: 0.2rem 6.25rem 0.2rem 6.25rem;
    background-image: linear-gradient(to right, #87A922, #4CAF50);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 990px) {
    #navbarSupportedContent {
        background-image: linear-gradient(to right, #87A922, #4CAF50);
    }
}
svg .bi{
    background-color: black;
}

.ImgRadious, #imgfoot {
    border-radius: 50%;
}
/* STYLE IMG OF CAROUSELs */
#Info-news{
    
    position: relative;
    overflow: hidden;
    padding-top: 20px;

}
#imgBck,#imgbck2{
    
    position: relative
}
#imgBck::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/Profes.jpeg');
    background-size: cover;
    opacity: 50%; /* Opacidad del fondo */
}
#imgbck2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/infoNew.jpeg');
    background-size: cover;
    opacity: 50%; /* Opacidad del fondo */
}
#imgBck img {
    position: relative;
    z-index: 1; /* Coloca la imagen sobre el fondo */
}
#imgbck2 img {
    position: relative;
    z-index: 1; /* Coloca la imagen sobre el fondo */
}
.carousel-inner img{
    position: absoulute;
    width: 90%;
    max-height: 400px; /* Puedes ajustar esta altura según tus necesidades */
     /* Recorta la imagen para llenar el contenedor */
}
/* 
CALENDARIO DE EVENTOS */

 .fc .fc-button-primary:disabled, .fc .fc-button-primary{
    background-color: #87A922;
    
}

  
:root {
    --fc-border-color: rgb(7, 87, 34);
    --fc-daygrid-event-dot-width: 5px;
    --fc-border-solid: 50px;
    --fc-col-header-cell-cushion: 3px
}
.fc-daygrid-day-number,.fc-col-header-cell-cushion{
    text-decoration: none; /* Quita la línea subrayada */
     color: green; /* Hereda el color del texto */
     cursor: auto;
     
} 
a.fc-event{
    color: #165f0c;
    font-weight: 400;
}
.fc-daygrid-event{
    white-space:inherit;
    display: contents;
}
 .fc{

    margin: 10px;
    padding: 15px;
    background-color: #eef7d5;
    border-color: #165f0c;
    border: 1px solid;
}  
/* *****************WHATSAPP INFO*************** */
#whats-info{
    margin-top: 3rem;
    background-color: #EEEEEE;
    padding: 4rem;
}
#whats-info p{
    margin-top: 1rem;
    font-weight: 200;
    font-size: 1.9rem;
}

#api-what{
    margin-top: 35px;
}
/* ////////////FOOTER/////////////////// */

#footer{
    padding: 6rem;
    color: white;
}
#imgfoot{
    height: 8rem;
}

#footer div{
    margin-top: 1.8rem;
    margin-bottom: 1.5rem;
}
 h6 i{
    margin-left: 1rem;

 }
 /* ///////////////////pag of form matricula///////////// */

 section{
    margin: 5rem auto 5rem auto;
 }
 #info-est div.row{
    margin-top: 1rem;
 }
 #acudientes h5{
    margin-top: 2rem;
 }
  /* ///////////////////pag of form HDV///////////// */
  #infoGe-profes div.row{
    margin-top: 1rem;
 }
 section p{
    text-align: justify;
 }
