
/* BODY GENERAL */
#api-what,#search-nav{
    background-color: #E6FF94; color: hsl(159, 82%, 22%);
  }
/* STYLE NAVBAR */

a{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#nav-esp, #footer{
    padding: 0.2rem 6.25rem 0.2rem 6.25rem;
    background-image: linear-gradient(to right, #87A922, #4CAF50);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 990px) {
    #navbarSupportedContent {
        background-image: linear-gradient(to right, #87A922, #4CAF50);
    }
}
svg .bi{
    background-color: black;
}
button{
    width: 130px;
} 
.ImgRadious, #imgfoot {
    border-radius: 50%;
}
/* STYLE IMG OF CAROUSEL */
#Info-news{
    
    position: relative;
    overflow: hidden;
    padding-top: 20px;

}

.carousel-inner img{
    position: absoulute;
    width: 90%;
    max-height: 400px; /* Puedes ajustar esta altura según tus necesidades */
     /* Recorta la imagen para llenar el contenedor */
}
/* 
CALENDARIO DE EVENTOS */

.fc .fc-button-primary:disabled, .fc .fc-button-primary{
    background-color: #87A922;
    
}

:root {
    --fc-border-color: rgb(7, 87, 34);
    --fc-daygrid-event-dot-width: 5px;
    --fc-border-solid: 50px;
    --fc-col-header-cell-cushion: 3px
}
.fc-daygrid-day-number,.fc-col-header-cell-cushion{
    text-decoration: none; /* Quita la línea subrayada */
    color: green; /* Hereda el color del texto */
    cursor: auto;
}
.fc{

    margin: 10px;
    padding: 15px;
    background-color: #eef7d5;
    border-color: #165f0c;
    border: 1px solid;
}

/* *****************WHATSAPP INFO*************** */
#whats-info{
    margin-top: 50px;
    background-color: #6d866ead;
    padding: 70px;
}
.btn img {
    height: 23px;
  }
#api-what{
    margin-top: 35px;
}
/* ////////////FOOTER/////////////////// */

#footer{
    padding: 6rem;
    color: white;
}
#imgfoot{
    height: 8rem;
}

#footer div{
    margin-top: 1.8rem;
    margin-bottom: 1.5rem;
}
 h6 i{
    margin-left: 1rem;

 }
 /* ///////////////////pag of Nosotros///////////// */
