
/* BODY GENERAL */

/* STYLE NAVBAR */
a{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#nav-esp{
    padding: 0.4rem 6.25rem 0.4rem 2.8rem;
    background-image: linear-gradient(to right, #87A922, #4CAF50);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}


button{
    width: 130px;
} 
.ImgRadious{
    border-radius: 50%;
}
/* STYLE IMG OF CAROUSEL */
section img{
    height: 28rem;
}