
<div class="position-fixed top-50 end-0 translate-middle-y py-2 px-4 text-bg-success border border-success rounded-pill animate__animated animate__flip" style="z-index: 1;">
    <a href="/matricula" style="color: aliceblue;">
      Matriculate aquí
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="position-absolute top-100 start-50 translate-middle mt-1" fill="var(--bs-secondary)" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
      </svg>
    </a>
</div>