<nav class="navbar navbar-expand-lg bg-body-tertiary" id="nav-esp">
  <div class="container-fluid r">
    <a class="navbar-brand align-items-center" href="/">
      <img src="/images/eysaLogo.jpg" alt="Logo"  width="50" height="50" class="d-inline-block ImgRadious align-text-top">
      <a class="navbar-brand" href="/" style="color: white;">Estrategias y Soluciones Académicas</a>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item mx-4">
          <a class="link-ref nav-link"  href="/" style="color: white;">Inicio</a>
        </li>
        <li class="nav-item dropdown mx-4">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
            Nosotros
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/nosotros/#Misión">Misión</a></li>
            <li><a class="dropdown-item" href="/nosotros/#Visión">Visión</a></li>
            <li><a class="dropdown-item" href="/nosotros/#Nuestra_Metodología">Nuestra Metodología</a></li>
            <li><a class="dropdown-item" href="/nosotros/#Valores">Valores</a></li>
          </ul>
        </li>
        
        <li class="nav-item dropdown mx-4">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
            Programas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/programas/#refuerzos">Refuerzos escolares</a></li>
            <li><a class="dropdown-item" href="/programas/#pre-ba">Pre-Bachillerato</a></li>
            <li><a class="dropdown-item" href="/programas/#pre-sa">Pre-Saber 11</a></li>
            <li><a class="dropdown-item" href="/programas/#pre-u">Pre-Universitario</a></li>
            <li><a class="dropdown-item" href="/programas/#sab-pro">Pre-Saber Pro</a></li>
          </ul>
        </li>
        <li class="nav-item mx-4">
          <a class="link-ref nav-link"  href="/contact" style="color: white;">Contacto</a>
        </li>
        <button id="search-nav" class="btn btn-success btn-lg mx-5" onclick="window.location.href = '/login'" >Aula Virtual</button>
      </ul>
    </div>
  </div>
</nav>