
<div class="container">

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
   <div class="col">
      <div id="refuerzos" class="card shadow-sm">
        <img src="/images/Refuerzos_Esc1.jpeg" alt="logo" height="300">
        <div class="card-body">
          <p class="card-text">Asesoría personalizada para la comprensión, profundización y refuerzo académico en todos los niveles escolares.</p>
            
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Conoce más
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"> <strong>Refuerzos Escolares</strong>  </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <ul>
                      <li><strong>Modalidad:</strong> Virtual, Prensencial y Semipresencial</li>
                      <li><strong>Duración:</strong> Hora individual / Paquetes</li>
                      <li><strong>Inversión:</strong> Según intensidad horaria</li>
                      <li><strong>Horario:</strong> Personalizado</li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>

          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
        <div id="virtual_sch" class="card shadow-sm">
          <img src="/images/bcimg.jpg" alt="logo" height="300">
          <div class="card-body">
            <p class="card-text">Acompañamiento, asesoría y preparación para la presentación del examen de validación para optar por el título de Bachiller</p>
            
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal1">
              Conoce más
            </button>
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel1"> <strong>Virtual School</strong> </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <ul>
                    <li><strong>Modalidad:</strong> Virtual</li>
                    <li><strong>Duración:</strong> 200 horas</li>
                    <li><strong>Inversión:</strong> Según intensidad horaria</li>
                    <li><strong>Horario:</strong> Lunes a Viernes o Sabatino</li>
                    </ul>
                    <img src="/images/CuadroPreBA.jpeg" alt="cuadro">
                    <p><i>IH* Intensidad horaria semanal</i></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="pre-sa" class="card shadow-sm">
          <img src="/images/Pre-saber_r1.jpeg" alt="logo" height="300">
          <div class="card-body">
            <p class="card-text">Preparación y acompañamiento para la presentación del examen de Estado de la educación media Saber 11°, atendiendo a los estándares básicos de competencias.</p>
            
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal3">
              Conoce más
            </button>
            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel3"></h1> <strong>Pre-saber 11</strong> </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <li><strong>Modalidad:</strong> Virtual</li>
                    <li><strong>Duración:</strong> 100 horas</li>
                    <li><strong>Inversión:</strong> $600.000</li>
                    <li><strong>Horario:</strong> Lunes a Viernes o Sabatino</li>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="pre-u" class="card shadow-sm">
          <img src="/images/Pre-Uni1.jpeg" alt="logo" height="300">
          <div class="card-body">
            <p class="card-text">Acompañamiento y preparación para el proceso de admisión a la universidad, cumpliendo con los requisitos y necesidades específicos de cada institución académica.</p>
            
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal4">
              Conoce más
            </button>
            <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel4"><strong>Pre-Universitario</strong></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <li><strong>Modalidad:</strong> Virtual</li>
                    <li><strong>Duración:</strong> 100 horas</li>
                    <li><strong>Inversión:</strong> $600.000</li>
                    <li><strong>Horario:</strong> Lunes a Viernes o Sabatino</li>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="sab-pro" class="card shadow-sm">
          <img src="/images/Pre_saberPro1.jpeg" alt="logo" height="300">
          <div class="card-body">
            <p class="card-text">Preparación y apoyo para la presentación del Examen de Estado de la Calidad de la Educación Superior, Saber Pro, siguiendo los estándares fundamentales de competencias.</p>
            
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal5">
              Conoce más
            </button>
            <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel5"><strong>Pre-saber Pro</strong></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <ul>
                      <li><strong>Modalidad:</strong> Virtual</li>
                      <li><strong>Duración:</strong> Hora individual / Paquetes</li>
                      <li><strong>Inversión:</strong> Según intensidad horaria</li>
                      <li><strong>Horario:</strong> Personalizado</li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>       
  </div>
</div>

<!-- <img src="/images/bcimg.jpg" alt="logo"> -->