<div class="container">
    <main>
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4 rounded-circle" src="images/eysaLogo.jpg" alt="" width="80" height="75"   >
        <h2>Checkout form</h2>
        <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      </div>
  
      <div class="">
          <h4 class="mb-3">INFORMACION GENERAL</h4>
          <form class="needs-validation" novalidate="">

            <!-- REGISTRO PARA LOS NOMBRES Y APELLIDOS -->
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
              </div>
  
              <div class="col-sm-6">
                <label for="lastName" class="form-label">Last name</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
              </div>
            </div>
            <!-- REGISTRO PARA LOS ID -->

            <div class="row g-3">
                <div class="col-4">
                    <label for="firstName" class="form-label">Sexo</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccione</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class="col-4">
                    <label for="firstName" class="form-label">Tipo de documento</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccione</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-4">
                <label for="firstName" class="form-label">Numero de Identidicación </label>
                  <input type="number" class="form-control" placeholder="Numero" aria-label="Last name">
                </div>
              </div>
            
              <!-- CREACION DE INFO GENERAL -->
              
              <div class="row g-3">
                <div class="col-4">
                    <label for="firstName" class="form-label">Edad</label>
                    <input type="number" class="form-control" placeholder="Numero" aria-label="Last name">
                </div>

                <div class="col-4">
                    <label for="firstName" class="form-label">Tipo de documento</label>
                    <input type="date" class="form-control" placeholder="Numero" aria-label="Last name">
                </div>
                <div class="col-4">
                <label for="firstName" class="form-label">Telefono </label>
                  <input type="number" class="form-control" placeholder="Numero" aria-label="Last name">
                </div>
              </div>
            
            </div>
            <!-- CREACION DE CORREO Y ADDRESS -->
            <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">Email</label>
                  <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                </div>
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Dirección</label>
                  <input type="email" class="form-control" id="lastName" placeholder="" value="" required="">
                </div>
            </div>
            <!-- REGISTRO DE PROGRAMA A APLICAR -->
            <div class="col-8">
                <label for="firstName" class="form-label">Programa al cual quiere inscribirse   </label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccione</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            

            <!-- REGISTRO DE ULTIMOS ESTUDIOS -->
            <div class="text-success">
                <h4>Institución de Procedencia </h4>
                <hr>
            </div>
            <div class="row g-3">            
                <div class="col-sm-8">
                  <label for="firstName" class="form-label">Nombre de la institución </label>
                  <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                </div>
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Año</label>
                  <input type="number" class="form-control" id="lastName" placeholder="" value="" required="">
                </div>

                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Grado / Semestre</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                  </div>
            </div> 

            <!-- REGISTRO DE ACUDIENTES (MENORES DE EDAD *) -->

            <div class="text-success">
                <h4>INFORMACION FAMILIAR DEL ESTUDIANTE</h4>
                <hr>
            </div>
            <div class="row g-3">  
                <h5>MADRE</h5>          
                <div class="col-sm-8">
                  <label for="firstName" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                </div>
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Nº IDENTIFICACION</label>
                  <input type="number" class="form-control" id="lastName" placeholder="" value="" required="">
                </div>

                <div class="col-sm-6">
                    <label for="lastName" class="form-label">TELEFONO/ CELULAR </label>
                    <input type="number" class="form-control" id="lastName" placeholder="" value="" required="">
                  </div>
                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                </div>
  
                <div class="col-sm-6">
                      <label for="lastName" class="form-label">Ocupación</label>
                      <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                </div>

                <h5>PADRE</h5>          
                <div class="col-sm-8">
                  <label for="firstName" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                </div>
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Nº IDENTIFICACION</label>
                  <input type="number" class="form-control" id="lastName" placeholder="" value="" required="">
                </div>

                <div class="col-sm-6">
                    <label for="lastName" class="form-label">TELEFONO/ CELULAR </label>
                    <input type="number" class="form-control" id="lastName" placeholder="" value="" required="">
                  </div>
                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                </div>
  
                <div class="col-sm-6">
                      <label for="lastName" class="form-label">Ocupación</label>
                      <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                </div>

                <h5>ACUDIENTE</h5>          
                <div class="col-sm-8">
                  <label for="firstName" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                </div>
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Nº IDENTIFICACION</label>
                  <input type="number" class="form-control" id="lastName" placeholder="" value="" required="">
                </div>

                <div class="col-sm-6">
                    <label for="lastName" class="form-label">TELEFONO/ CELULAR </label>
                    <input type="number" class="form-control" id="lastName" placeholder="" value="" required="">
                  </div>
                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                </div>
  
                <div class="col-sm-6">
                      <label for="lastName" class="form-label">Ocupación</label>
                      <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                </div>
            </div> 


            <button class="w-100 btn btn-success btn-lg" type="submit">Continue to checkout</button>
          </form>
      </div>
    </main>
  </div>
  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
