<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4 rounded-circle" src="images/eysaLogo.jpg" alt="" width="80" height="75"   >
        <h2>Vinculate </h2>
        <p class="lead">Diligenciar el formulario para formalizar tu perfíl. Pronto nos comunicaremos con ustedes.</p>
    </div>   

    <form action="/hdv" method="post" name="formato_hdv_prof">
            <!-- REGISTRO PARA LOS NOMBRES Y APELLIDOS -->
        <section id="infoGe-profes" class="mt-1">
            
            <div class="text-success">
              <h4>Información General </h4>
              <hr>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    <label for="firstName" class="form-label">Nombres</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" name="fname" required>
                </div>
                <div class="col-6">
                    <label for="lastName" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" name="lname" required>
                </div>
            </div>
            <!-- REGISTRO PARA LOS ID -->
            <div class="row mt-2">
                <div class="col-4">
                    <label for="firstName" class="form-label">Sexo</label>
                    <select class="form-select" aria-label="Default select example" name="sexo" required>
                        <option selected>Seleccione</option>
                        <option value="1">Masculino</option>
                        <option value="2">Femenino</option>

                    </select>
                </div>
                <div class="col-4">
                    <label for="firstName" class="form-label">Tipo de documento</label>
                    <select class="form-select" aria-label="Default select example" name="tipo_id" required>
                        <option selected>Seleccione</option>
                        <option value="1">Cedúla</option>
                        <option value="2">Cedúla de Extranjería</option>
                    </select>
                </div>
                <div class="col-4">
                <label for="firstName" class="form-label">Número de Identificación </label>
                  <input type="number" class="form-control" placeholder="Número" aria-label="Last name" name="num_id" required>
                </div>
            </div>
              <!-- CREACION DE INFO GENERAL -->
            <div class="row mt-2">
                <div class="col-4">
                    <label for="firstName" class="form-label">Profesión</label>
                    <input type="text" class="form-control" placeholder="Numero" aria-label="Last name" name="profesion" required>
                </div>
                <div class="col-4">
                    <label for="firstName" class="form-label">Área desempeñada</label>
                    <input type="text" class="form-control" placeholder="text..." aria-label="Last name" name="area_dese" required>
                </div>
                <div class="col-4">
                    <label for="firstName" class="form-label">Teléfono </label>
                  <input type="number" class="form-control" placeholder="Numero" aria-label="Last name" name="tel" required>
                </div>
            </div>
            <!-- CREACION DE CORREO Y ADDRESS -->
            <div class="row mt-2">
                <div class="col-sm-6">
                    <label for="firstName" class="form-label">Email</label>
                    <input type="email" class="form-control" id="firstName" placeholder="" name="email" required>
                </div>
                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" name="direccion" required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="firstName" class="form-label">Ciudad/Municipio</label>
                    <input type="text" class="form-control" id="firstName"  name="ciudad" required>
                </div>
                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Departamento</label>
                    <input type="text" class="form-control" id="lastName"  name="depto" required>
                </div>
            </div>
        </section>
        <section id="perfil-prof" class="mt-5">
            <div class="text-success">
                <h4>Perfil  </h4>
                <hr>
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">Años de experiencia</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="" name="anos_exp" required>
              </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Perfil profesional o descripción </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="perfil_prof" required></textarea>
              </div> 
        </section>    
        <section id="experiencia-prof" class="mt-5">
            <div class="text-success">
                <h4>Experiencia</h4>
                <hr>
            </div>

            <div id="form-exp" class="row">
                <div id="creacion-form">
                    <div class="col-4">
                        <label for="firstName" class="form-label">Intitución / Empresa</label>
                        <input type="text" class="form-control" placeholder="Nombre" aria-label="Last name" name="inst_exp_ult">
                    </div>
                    <div class="col-4">
                        <label for="firstName" class="form-label">Cargo</label>
                        <input type="text" class="form-control" placeholder="text..." aria-label="Last name" name="cargo_ult">
                    </div>
                    <div class="col-4">
                        <label for="firstName" class="form-label">Tiempo laborado</label>
                        <input type="number" class="form-control" placeholder="Numero" aria-label="Last name" name="tiemp_lab_ult">
                    </div>
                    <div class="input-group col mt-4">
                        <input type="file" class="form-control" id="inputGroupFile02" name="file_cert">
                        <label class="input-group-text" for="inputGroupFile02">Upload</label>
                    </div>  
                    <div class="text-success">
                        <hr>
                    </div>      
                </div>
                
            </div>
            <div  class="mt-4">
                <button id="add-experience" type="button" class="btn btn-outline-success">Añadir experiencia</button>
            </div>
        </section>
        <section id="consent-data-prof" class="mt-5">
            <div class="text-success">
                <h4>AUTORIZACIÓN POLITICA DE TRATAMIENTO DE DATOS PERSONALES</h4>
                <hr>
            </div>
            <p style="text-align: justify;"><small>En cumplimiento con la Ley Estatutaria 1581 de 2012 de protección de datos y sus normas concordantes,
                autorizo expresamente que los datos personales y biométricos (huella dactilar) consignados en el presente 
                formulario sean incorporados en una base de datos responsabilidad de Estrategías y Soluciones Académicas (EYSA) para que sean tratados con la finalidad de realizar marketing, gestión administrativa, 
                gestión de estadísticas internas, fidelización de clientes, prospección comercial, publicidad propia, 
                segmentación de mercados, gestión de cobros y pagos, y transmisión y/o transferencia de datos. De igual modo, 
                en calidad de representante legal del(los) menor(es) y/o con el consentimiento de los beneficiarios registrados
                en el presente formulario, autorizo que sus datos personales sean incorporados en una base de datos 
                responsabilidad de Estrategías y Soluciones Académicas (EYSA) con la finalidad de realizar 
                gestión de estadísticas internas, procedimientos administrativos, remisión de información relacionada con 
                el objeto social de la organización a los titulares, formación, gestión administrativa, registro de imágenes 
                y de acceder a los beneficios que se generen debido a mi calidad de asociado(a) de Estrategías y Soluciones Académicas (EYSA) . Es de carácter facultativo suministrar información que verse sobre datos sensibles, 
                entendidos como aquellos que afectan la intimidad o sobre menores de edad. De la misma manera, declaro haber sido 
                informado de que puedo ejercitar mis derechos de acceso, corrección, supresión, revocación o reclamo por infracción
                de mis datos con un escrito dirigido a Estrategías y Soluciones Académicas (EYSA) a través de la
                dirección de correo electrónico admisiones.eysa@gmail.com indicando en el asunto el derecho que deseo ejercer,
                o mediante correo ordinario remitido a la Carrera 3ª No. 02 – 66 en Gámeza, Boyacá.</small></p>
        </section>
        <button class="w-100 btn btn-success btn-lg mt-3 mb-5" type="submit">Enviar</button>
    </form>
</div>

<script>
    $('#add-experience').click(() => {
        const contenedor = $('#form-exp');
        const formato = $('#creacion-form').clone();
        formato.addClass('mt-3')
        formato.removeAttr('id');  // Eliminar el id para evitar duplicados
        contenedor.append(formato);
    });
</script>