<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4 rounded-circle" src="images/eysaLogo.jpg" alt="" width="80" height="75"   >
        <h2>Checkout form</h2>
        <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
    </div>

    <form action="/hdv" method="post" name="formato_hdv_prof">
            <!-- REGISTRO PARA LOS NOMBRES Y APELLIDOS -->
        <section id="infoGe-profes" style="margin-top:1.7rem ;">
            
            <div class="text-success">
              <h4>Información General </h4>
              <hr>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" name="fname" required>
                </div>
                <div class="col-6">
                    <label for="lastName" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" name="lname" required>
                </div>
            </div>
            <!-- REGISTRO PARA LOS ID -->
            <div class="row">
                <div class="col-4">
                    <label for="firstName" class="form-label">Sexo</label>
                    <select class="form-select" aria-label="Default select example" name="sexo" required>
                        <option selected>Seleccione</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-4">
                    <label for="firstName" class="form-label">Tipo de documento</label>
                    <select class="form-select" aria-label="Default select example" name="tipo_id" required>
                        <option selected>Seleccione</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-4">
                <label for="firstName" class="form-label">Numero de Identidicación </label>
                  <input type="number" class="form-control" placeholder="Numero" aria-label="Last name" name="num_id" required>
                </div>
            </div>
              <!-- CREACION DE INFO GENERAL -->
            <div class="row">
                <div class="col-4">
                    <label for="firstName" class="form-label">Profesión</label>
                    <input type="text" class="form-control" placeholder="Numero" aria-label="Last name" name="profesion" required>
                </div>
                <div class="col-4">
                    <label for="firstName" class="form-label">Area desempeñada</label>
                    <input type="text" class="form-control" placeholder="text..." aria-label="Last name" name="area_dese" required>
                </div>
                <div class="col-4">
                    <label for="firstName" class="form-label">Telefono </label>
                  <input type="number" class="form-control" placeholder="Numero" aria-label="Last name" name="tel" required>
                </div>
            </div>
            <!-- CREACION DE CORREO Y ADDRESS -->
            <div class="row">
                <div class="col-sm-6">
                    <label for="firstName" class="form-label">Email</label>
                    <input type="email" class="form-control" id="firstName" placeholder="" name="email" required>
                </div>
                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" name="direccion" required>
                </div>
            </div>
        </section>
        <section id="perfil-prof">
            <div class="text-success">
                <h4>Perfil  </h4>
                <hr>
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">Años de experiencia</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="" name="anos_exp" required>
              </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Perfil profesional o descripción </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="perfil_prof" required></textarea>
              </div> 
        </section>    
        <section id="experiencia-prof">
            <div class="text-success">
                <h4>Experiencia</h4>
                <hr>
            </div>

            <div id="form-exp" class="row">
                <div id="creacion-form">
                    <div class="col-4">
                        <label for="firstName" class="form-label">Intitucion / Empresa</label>
                        <input type="text" class="form-control" placeholder="Numero" aria-label="Last name" name="inst_exp_ult">
                    </div>
                    <div class="col-4">
                        <label for="firstName" class="form-label">Cargo</label>
                        <input type="text" class="form-control" placeholder="text..." aria-label="Last name" name="cargo_ult">
                    </div>
                    <div class="col-4">
                        <label for="firstName" class="form-label">Tiempo laborado</label>
                        <input type="number" class="form-control" placeholder="Numero" aria-label="Last name" name="tiemp_lab_ult">
                    </div>
                    <div class="input-group col mt-4">
                        <input type="file" class="form-control" id="inputGroupFile02" name="file_cert">
                        <label class="input-group-text" for="inputGroupFile02">Upload</label>
                    </div>  
                    <div class="text-success">
                        <hr>
                    </div>      
                </div>
                
            </div>
            <div  class="mt-4">
                <button id="add-experience" type="button" class="btn btn-outline-success">Añadir experiencia</button>
            </div>
        </section>
        <section id="consent-data-prof">
            <div class="text-success">
                <h4>AUTORIZACIÓN POLITICA DE TRATAMIENTO DE DATOS PERSONALES</h4>
                <hr>
            </div>
            <p><small>En cumplimiento con la Ley Estatutaria 1581 de 2012 de protección de datos y sus normas concordantes,
             autorizo expresamente que los datos personales y biométricos (huella dactilar) consignados en el presente 
             formulario sean incorporados en una base de datos responsabilidad de COOPERATIVA DE TRABAJADORES DEL GRUPO 
             CORPORATIVO SCARE para que sean tratados con la finalidad de realizar marketing, gestión administrativa, 
             gestión de estadísticas internas, fidelización de clientes, prospección comercial, publicidad propia, 
             segmentación de mercados, gestión de cobros y pagos, y transmisión y/o transferencia de datos. De igual modo, 
             en calidad de representante legal del(los) menor(es) y/o con el consentimiento de los beneficiarios registrados
             en el presente formulario, autorizo que sus datos personales sean incorporados en una base de datos 
             responsabilidad de COOPERATIVA DE TRABAJADORES DEL GRUPO CORPORATIVO SCARE con la finalidad de realizar 
             gestión de estadísticas internas, procedimientos administrativos, remisión de información relacionada con 
             el objeto social de la organización a los titulares, formación, gestión administrativa, registro de imágenes 
             y de acceder a los beneficios que se generen debido a mi calidad de asociado(a) de COOPERATIVA DE TRABAJADORES 
             DEL GRUPO CORPORATIVO SCARE . Es de carácter facultativo suministrar información que verse sobre datos sensibles, 
             entendidos como aquellos que afectan la intimidad o sobre menores de edad. De la misma manera, declaro haber sido 
             informado de que puedo ejercitar mis derechos de acceso, corrección, supresión, revocación o reclamo por infracción
            de mis datos con un escrito dirigido a COOPERATIVA DE TRABAJADORES DEL GRUPO CORPORATIVO SCARE a través de la
            dirección de correo electrónico gerente@corporativos.org.co indicando en el asunto el derecho que deseo ejercer,
            o mediante correo ordinario remitido a la Carrera 15ª No. 120 – 74 en Bogotá.</small></p>
        </section>
        <button class="w-100 btn btn-success btn-lg" type="submit" style="margin-bottom: 3.5rem;">Continue to checkout</button>
    </form>
</div>

<script>
    $('#add-experience').click(() => {
        const contenedor = $('#form-exp');
        const formato = $('#creacion-form').clone();
        formato.addClass('mt-3')
        formato.removeAttr('id');  // Eliminar el id para evitar duplicados
        contenedor.append(formato);
    });
</script>