<div class="container col-xxl-8 px-4 py-2 " id="linkEstudiantes">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6 animate__animated animate__backInRight">
            <img src="/images/img1.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="250" loading="lazy">
        </div>
        <div class="col-lg-6 ">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">¿Por qué estudiar con EYSA?</h1>
            <p class="lead">En un mundo dinámico, brindamos educación flexible y de alta calidad que se ajusta a los horarios y requerimientos de nuestros estudiantes. A través de clases interactivas, acceso a nuestra aula virtual y el acompañamiento de nuestro equipo de docentes, podrás cumplir tus expectativas y metas académicas.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="/matricula" type="button" class="btn btn-success btn-lg px-5 me-md-2">Regístrate</a>
            </div>
        </div>
    </div>
</div>
<div class="container col-xxl-8 px-4" id="linkProfesores">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">En EYSA estamos comprometidos en acompañar a nuestros estudiantes en sus retos académicos. </h1>
            <p class="lead">Si deseas unirte a nuestra equipo, te animamos a completar tus datos en el formulario.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="/hdv" type="button" class="btn btn-outline-success btn-lg px-5">Vinculate aquí</a>
            </div>
        </div>
        <div class="col-10 col-sm-8 col-lg-6 animate__animated animate__backInLeft">
            <img src="/images/img1.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="250" loading="lazy">
        </div>
    </div>
</div>