<div class="d-flex h-100 text-center text-bg container" id="whats-info" style="padding: 50px 100px 50px 100px;">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
    <h1>Escribenos a Nuestro WhatsApp<h1>
      <div class="container" >
        <p class="lead">Nos encanta recibir a nuevos estudiantes, así que ven prepárate con nosotros y superar tus expectativas</p>
      </div>
    
    <form action="/" method="post">
      <button id="api-what" name="btn-wa" type="submit" value="ok" class="btn btn-lg btn-success text-nowrap"
        onclick="openWhatsApp()" style="width: 150px;">
     <i class="fa-brands fa-whatsapp fa-lg"></i> Escríbenos
</button>
    </form>

    <!-- onclick="window.open(whatsappURL, '_blank')" -->
    
  </main>

</div>
</div>
<script>
  // Definir las variables phoneNumber y message


  // Función para abrir la URL de WhatsApp
  function openWhatsApp() {
    const whatsappURL = "https://api.whatsapp.com/send/?phone=573117674115&text&type=phone_number&app_absent=0;"
    window.open(whatsappURL, '_blank');
  }
</script>