<!-- Create de init html tag -->
<%- include('templates/initLink') %>
<body id="ourWork-pag">
    <!-- Create a NavBar -->
    <%- include('templates/header') %>

    <!-- CREATE FORM -->
    <div class="album py-5 bg-body-tertiary">
        <%- include('templates/form') %>

    </div>
    
    <%- include('templates/footer') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/main.js"></script>
</body>
    