<!-- Create de init html tags -->
<%- include('templates/initLink') %>
<body class="bg-body-tertiary">
    <!-- Create a NavBar -->
    <%- include('templates/header') %>

    <!-- CREATE BOTON REDIRECT /MATRICULA -->
    <!-- include('templates/botonRedirectMat')  -->

    <!-- CREATE FORM MATRICULA -->        
    <%- include('templates/template_matricula') %>

<!-- CREATE FOOTER -->
    <%- include('templates/footer') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/main.js"></script>
</body>
    