<!-- Create de init html tags -->
<%- include('templates/initLink') %>
<body class="bg-body-tertiary">
    <!-- Create a NavBar -->
    <%- include('templates/header') %>

    <!-- CREATE FORM MATRICULA -->        
    <%- include('templates/template_profHDV') %>

<!-- CREATE FOOTER -->
    <%- include('templates/footer') %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="/main.js"></script>
</body>
    