<!-- Create de init html tags -->
<%- include('templates/initLink') %>
<body id="ourWork-pag">
    <!-- Create a NavBar -->
    <%- include('templates/header') %>

    <!-- CREATE BOTON REDIRECT /MATRICULA -->
    <!-- include('templates/botonRedirectMat')  -->

    <!-- CREATE CARDS PROGRAMS -->
    <div class="album py-5 bg-body-tertiary">
        <%- include('templates/programsTemp') %>
    </div>

    <%- include('templates/footer') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/main.js"></script>
</body>
    