<!-- Create de init html tags -->
<%- include('templates/initLink') %>
<body>
    <!-- Create a NavBar -->
    <%- include('templates/header') %>

    <!-- CREATE BODY VINCULATE -->        
    <%- include('templates/template_vinc') %>

<!-- CREATE FOOTER -->
    <%- include('templates/footer') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/main.js"></script>
</body>